<div class="row d-flex justify-content-center mt-3">
  <div class="card margin col-md-6">
    <div class="card-body">
      <form [formGroup]="loginForm" (submit)="PostForm(loginForm.value)">
        <p hidden>{{ loginForm.status | json }}</p>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="email" type="text" formControlName="email">
            </mat-form-field>
            <div class="text-danger">
              <label *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email')?.touched"><strong
                  class="text-danger">Campo requerido </strong></label>
  
            </div>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="password" type="password" formControlName="password">
            </mat-form-field>
            <div class="text-danger">
              <label
                *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password')?.touched"><strong
                  class="text-danger">Campo requerido </strong></label>
            </div>
          </div>
        </div>
        <button mat-raised-button type="submit" class="btn btn-dark">iniciar</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
  
  </div>
  